* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 70%;
    height: 100vh;
    /* debug */
    margin-top: 100px;
    /* fine debug */
}

.list {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: space-between;
  width: 70%;
  margin:0 auto;
}

.sotto_list {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.fas.fa-times {
  cursor: pointer;
}
