/* regole genearli */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato';
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 70%;
  min-height: 100vh;
}

/* regole di posizionamento box */
.list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: space-between;
  width: 70%;
  margin-top: 10px;
  min-height: 40px;
}
i {
  float:right;
  margin:auto 5px;
  cursor: pointer;
}

.active {
  text-decoration: line-through;
}

.list:hover {
  background-color: #3C3C3C;
  color:white;
}

.sotto_list {

  font-family: 'Amatic SC', cursive;
  font-weight: 800;
  font-size: 40px;
  border-bottom: 1px solid #3C3C3C;
  line-height: 100%;
  min-height: 40px;
  padding: 5px ;
}

.jumbo {
  text-align: center;
}

/* regole di grafica */

button{
  color:white;
  font-size: 20px;
  height: 100%;
  width: 150px;
  cursor: pointer;
  background-color: #3C3C3C;
  border-radius:10px;
  box-shadow: 0 0 5px 0 #616A6B;
}

button:hover{
  background-color: #616A6B;
  box-shadow: 0 0 5px 0 #3C3C3C;
}
input{
  color:#3C3C3C;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  width: 350px;
  border-radius:10px;
  box-shadow: 0 0 5px 0 #3C3C3C;
}

.bg_green {
  background-color:#4ED300 ;
  border-radius: 50%;
}

/* delete box */


.btn {
  height: 50px;
  width: 50%;
  float:left;
}

.hide {
  display: none;
}
.margin{
  margin-top: 20px;
}
.show {
  display: block;
  position: absolute;
  width: 200px;
  height: auto;
  border: 2px solid #3C3C3C;
  border-radius: 10px;
  left:75%;
  top:15%;
}
