<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
            crossorigin="anonymous" />
      <link rel="stylesheet" href="css/main.css">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <title>To-do List</title>
    </head>
    <body>

      <!-- container pagina -->
      <div id="app" class="container">
        <div class="jumbo">
          <img :src="img" alt="">
        </div>
        <!-- box input & button  -->
        <div class="header">
          <!-- v-model sarà il valore di quello che inserirà l'utente -->
          <input  type="text" v-model="value" placeholder="Inserisci todo..." v-on:keyup.13="enterValue">
          <button type="button" name="button" @click="enterValue">Aggiungi</button>

        </div>
        <!-- per ogni elemento della lista tiro fuori l'elemento e l'indice e lo stampo in un div con l'icona "x" -->
        <div v-for="(item,index) in toDoList"  class="list">
          <div :class="{active: isActive ===index}" class="sotto_list">

           {{toDoList[index]}}

          <!-- darò un evento click legato all'indice dell'icona aggiunta -->

          <i class = 'fas fa-times' @click="removeList(index)" ></i>
          <i class="far fa-check-circle " :class="{bg_green: isGreen === index}" @click="signedList(index)" ></i>

          </div>


        </div>

        <!-- // test box conferma per eliminare -->
        <!-- <div :class="(removeList==true)?'show':'hide'">

          <h3>Confermi?</h3>
          <button class="btn" type="button" name="button">Si</button>
          <button class="btn" type="button" name="button">Annulla</button>

        </div> -->
        <!-- fine test -->

      </div>

    <script src="js/script.js"></script>
    </body>
</html>
